                    body {
                        margin: 0;
                        font-family: 'Roboto', sans-serif;
                    }
                    
                    #nav_bar {
                        background-color: #ffffff;
                        display: flex;
                        flex-wrap: wrap;
                    }
                    
                    #nav_links {
                        display: flex;
                        align-items: center;
                        padding: 9px;
                        margin-bottom: 60px;
                        /* /flex-grow: 1; */
                    }
                    
                    .nav_anchor_tag {
                        text-decoration: none;
                        padding: 9px;
                    }
                    
                    .nav_anchor_tag:visited {
                        color: #4d4d4d
                    }
                    
                    .nav_anchor_tag:active {
                        color: red
                    }
                    
                    .nav_anchor_tag:hover {
                        color: hotpink;
                    }
                    
                    .nav_anchor_tag:focus {}
                    
                    .nav_anchor_tag:link {
                        color: #4d4d4d;
                    }
                    
                    .float_right {
                        float: right;
                    }
                    
                    .header_name {
                        display: flex;
                        /* background-color: white; */
                        padding: 9px;
                        margin-bottom: 60px;
                        flex-grow: 1;
                        text-decoration: none;
                    }
                    
                    .section_row_reverse {
                        display: flex;
                        flex-direction: row-reverse;
                        flex-wrap: wrap;
                        justify-content: center;
                        min-height: 90vh;
                        /* align-items: center; */
                    }
                    
                    .section_row {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        min-height: 90vh;
                        /* align-items: center; */
                    }
                    
                    .section_text {
                        flex: 0 1 485px;
                    }
                    
                    .grid_one {
                        flex-grow: 1;
                        display: grid;
                        grid-template-columns: auto auto;
                        margin: auto;
                        max-width: 1000px;
                        min-height: 60vh;
                    }
                    
                    @media only screen and (max-width: 430px) {
                        .grid_one {
                            grid-template-columns: auto;
                        }
                    }
                    
                    .intro_me {
                        height: 90vh;
                        display: flex;
                        align-items: center;
                    }
                    
                    .width {
                        max-width: 450px;
                        margin-left: 40px;
                        margin-right: 40px;
                        margin-top: 0px;
                    }
                    
                    article.intro section,
                    article.outro section {
                        width: 100%;
                        padding: 11px 4.2% 17px;
                        line-height: 30px;
                        margin: 66px auto 22px;
                        clear: both;
                        float: left;
                        overflow: hidden
                    }
                    
                    .footer {
                        margin-top: auto;
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        background-color: d3d3d3;
                        justify-content: center;
                    }
                    
                    .responsive {
                        width: 100%;
                        max-width: 600px;
                        height: auto;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 40px;
                    }